HOST=0.0.0.0
PORT=5055
EMBEDDING_MODEL_NAME=BAAI/bge-base-en-v1.5
EMBEDDING_DIR=
DEVICE=cpu
MAX_LOADED_MODELS=1
MAX_INPUTS_PER_REQUEST=128
EMBEDDING_BATCH_SIZE=32
MODEL_KWARGS={"local_files_only": true, "trust_remote_code": true}
ENCODE_KWARGS={"normalize_embeddings": true}
